body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 203, 159);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,h2,h3{
  text-align: center;
}

input{
  display:block;
  width: 80%;
  margin: auto;
  height: 30px;
  border-radius: 20px;
  background-color: #d5d3c8;
  text-align: center;
  font-size: large;
}

.formItem{
  width: 40%;
  margin: auto;
  text-align: center;
}

button.UI{
    display:block;
    width: 80%;
    margin: 20px auto ;
    height: 30px;
    border-radius: 20px;
    background-color: #d5d3c8;
    text-align: center;
    font-size: large;
}

.nav{
  text-align: center;
}
.nav a {
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.game{
  display:table;
  margin: 50px auto;
}

*{text-align: center;}


.square{
  width: 30px;
  height: 30px;
  font-size: 15px;
  border: 1px solid black;
  margin: 1px;
  font-size: 25px;
}

.square:hover{
  background-color:black;
}

.square:active{
  margin:0;
}

.row{
  text-align: center;
  float:left;
}

.board{
  width: 80%;
  margin:0 auto;
  justify-content: center;
}